*{
    font-family: 'Inter', sans-serif;
}
main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
   margin: 16px;
}
.card{
    display:flex;
    position:relative;
    border-radius:16px;
    margin:32px;
    border: 3px solid grey;
    height: 600px;
    width: 400px;
    min-width: 400px;
  }
.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    top: 0px;
    border-bottom: 3px dashed grey;
    background-color: rgb(242, 242, 242);
    border-radius: 16px 16px 0 0;
    position: absolute;
}

.card-header h2{  

}
.card-body{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card-footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    bottom: 0px;
    border-top: 3px dashed grey;
    background-color: rgb(242, 242, 242);
    border-radius: 0 0 16px 16px;
}

.kanji{
    flex-wrap: wrap;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 5em;
}

