* {
    font-family: 'Inter', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}

:root{
    --lightgrey:rgb(242, 242, 242);
}

header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 3px dashed grey;
    background-color: rgb(242, 242, 242);
  }

header h1 {
    flex: 1 0 50px;
}

#nav-container {
    flex: auto;
}

#main-nav {
    display: flex;
    align-items: baseline;
    justify-items: baseline;
}

ul {
    display: flex;
    align-items: baseline;
    justify-items: baseline;
}

.items {
    flex: 1 0 100px;
    margin: 2px;
    background-color: var(--lightgrey);
    list-style: none;
    text-align: center;
}

.items a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.timer {
    display: flex;
    align-items: baseline;
    justify-items: baseline;
}


main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttons {
    display: grid;
    margin: auto;
}

.start{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.start-btn{
    font-size: 1.5rem;
    padding:16px;
    border-radius: 8px;
    border-color: grey;
}

.left-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    /* position: relative; */
}

.left-aside button,
.right-aside button {
    margin: 16px 0px 16px 0px;
    border-radius: 8px;
    border-color: rgb(212, 212, 212);
}

.left-aside,
h2 {
    flex: auto;
    width: fit-content;
    text-align: center;
}

.right-aside {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

.problems-remaining {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px grey;
    padding: 3px;
}

.problems-remaining p {
    font-size: x-large;
}

.problems-remaining h2 {
    font-size: x-large;
}

.card {
    flex: auto;
    display: flex;
    position: relative;
    border-radius: 16px;
    margin: 32px;
    height: 600px;
    width: 800px;
    min-width: 400px;
    box-shadow: 0 0 5px 2px;
    align-items: center;
    justify-content: center;
}
.card-contents{
    display:none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    top: 0px;
    border-bottom: 3px dashed grey;
    background-color: rgb(242, 242, 242);
    border-radius: 16px 16px 0 0;
    position: absolute;
}

.problem-directions{
    font-size: larger;
    margin:16px;
}
.problem-content{
    margin:-30px;
}
.card-header h2 {}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.possible-answers{
    transform: translate(-10px);
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:8px;
    margin:16px 0;
    
}
.possible-answer{
    flex: 1 0 250px;
    padding:8px;
    margin: 8px;
    border: 1px grey solid;
    border-radius:16px;
    font-size: larger;
}
.possible-answer a{
   text-decoration: none;
}

.possible-answer:hover{
    box-shadow:  0px 0px 10px 5px rgb(201, 201, 201);
    transition: ease-in-out 200ms;
}

.card-footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    bottom: 0px;
    border-top: 3px dashed grey;
    background-color: rgb(242, 242, 242);
    border-radius: 0 0 16px 16px;
}

.card-footer>* {
    flex: auto;
}

.card-footer button {
    width: 16px;
}

.card-footer h2 {
    text-transform: uppercase;
}

.hide{
    display:none;
}
#question-text {
    flex-wrap: wrap;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 5em;
}
